.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.team {
    text-align: center;
}
.score {
    font-size: 5em;
    color: red;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    padding: 10px;
    font-size: 1.5em;
}
